<?doctype config?>

<root>
	<l type="number">51</l>
	<h type="number">16</h>
	<emu type="boolean">true</emu>
	<hostname type="string">anonymous</hostname>
	<ua type="string">00-00-00-00</ua>
	<dns type="string">www.botsbots.com/dns</dns>
	<crypt enabled="false">
		<key>private</key>
		<len>4</len>
		<tag></tag>
	</crypt>
	<style type="table">
		<bg type="number">0</bg>
		<fg type="number">63</fg>
	</style>
	<startup type="table">
		<last type="string">/startup/main.lua</last>
	</startup>
</root>