<?doctype config?>

<root>
	<l type="number">51</l>
	<h type="number">16</h>
	<emu type="boolean">true</emu>
	<hostname type="string">anonymous</hostname>
	<ua type="string">00-00-00-00</ua>
	<hard_ua type="string">00-00-00-00</hard_ua>
	<dns type="string">dns.botsbots.com</dns>
	<crypt type="table" enabled="false">
		<key>private</key>
		<len>4</len>
		<tag></tag>
	</crypt>
	<style type="table">
		<bg type="string">colors.lightBlue</bg>
		<fg type="string">colors.blue</fg>
		<tx type="string">colors.black</tx>
	</style>
	<startup type="table">
		<last type="string">/startup/main.lua</last>
	</startup>
</root>